<mat-toolbar color="primary" *ngIf="mdq.matches">
  <img src="assets/images/logo.svg" style="height: 50px" class="img-fluid" />
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon svgIcon="avatar-icon"></mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" [opened]="!mdq.matches">
    <app-web-nav></app-web-nav>
  </mat-drawer>
  <mat-drawer-content
    [ngStyle]="{
      'margin-left': mdq.matches ? '4px !important' : '240px !important'
    }"
  >
    <div class="drawer-content pt-5">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-mobile-nav *ngIf="mdq.matches"></app-mobile-nav>
